# ===== Unity =====
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
*.pidb
*.suo
*.user
*.userprefs
*.csproj
*.unityproj
*.sln
*.apk
*.aab
*.xcodeproj
*.xcworkspace
*.xcuserstate
*.pdb
*.mdb
*.log
.vs/
.vscode/
.DS_Store
Thumbs.db
