@import "tailwindcss";

@keyframes toast {
  0% {
    opacity: 0;
    transform: translate(-50%, 20px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.animate-toast {
  animation: toast 0.35s ease-out;
}